<link rel="stylesheet" href="/css/user_profile.css">
    <h1>
        Codeial / Profile Page
    </h1>


<p>Name: <%= user.name %></p>
<p>Email: <%= user.email%></p>


<form action="/users/log-out" method="GET">
    <input type="submit" value="Log out">
</form>


<!-- <a href="/users/log-out">Logout</a> -->
